<?xml version="1.0" encoding="utf-8"?>
<Content Key="a1000001-0001-0001-0001-000000000040" Alias="alert-banners" Level="1">
  <Info>
    <Parent Key="" />
    <Path>/Alert Banners</Path>
    <Trashed>false</Trashed>
    <ContentType>lgAlertList</ContentType>
    <CreateDate>2026-01-01T00:00:00</CreateDate>
    <NodeName Default="Alert Banners" />
    <SortOrder>1000</SortOrder>
    <Published Default="true" />
    <Schedule />
  </Info>
  <Properties />
</Content>
