<?xml version="1.0" encoding="utf-8"?>
<Content Key="a1000001-0001-0001-0001-000000000041" Alias="bank-holiday-closure" Level="2">
  <Info>
    <Parent Key="a1000001-0001-0001-0001-000000000040">/Alert Banners</Parent>
    <Path>/Alert Banners/Council offices closed Bank Holiday Monday</Path>
    <Trashed>false</Trashed>
    <ContentType>lgAlertItem</ContentType>
    <CreateDate>2026-04-25T09:00:00</CreateDate>
    <NodeName Default="Council offices closed Bank Holiday Monday" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
  </Info>
  <Properties>
    <alertTitle>
      <Value><![CDATA[Council offices closed Bank Holiday Monday]]></Value>
    </alertTitle>
    <alertBody>
      <Value><![CDATA[All council offices and the customer service centre will be closed on Monday 4 May for the bank holiday. Online services remain available.]]></Value>
    </alertBody>
    <severity>
      <Value><![CDATA[["Announcement"]]]></Value>
    </severity>
  </Properties>
</Content>
