<?xml version="1.0" encoding="utf-8"?>
<Content Key="a1000001-0001-0001-0001-000000000020" Alias="bins-and-recycling" Level="2">
  <Info>
    <Parent Key="a1000001-0001-0001-0001-000000000001">/Greenfield District Council</Parent>
    <Path>/Greenfield District Council/Bins and recycling</Path>
    <Trashed>false</Trashed>
    <ContentType>lgServiceLanding</ContentType>
    <CreateDate>2026-01-01T00:00:00</CreateDate>
    <NodeName Default="Bins and recycling" />
    <SortOrder>20</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c1a2b3c4-1010-0010-0010-000000000020">lgServiceLanding</Template>
  </Info>
  <Properties>
    <summary>
      <Value><![CDATA[Find your collection days, sort your waste correctly, and report missed collections.]]></Value>
    </summary>
    <main>
      <Value><![CDATA[<p class="govuk-body">Greenfield District Council collects household waste, recycling, garden waste, and food waste on a fortnightly cycle. Use the links below to find out more.</p>]]></Value>
    </main>
  </Properties>
</Content>
