<?xml version="1.0" encoding="utf-8"?>
<Content Key="a1000001-0001-0001-0001-000000000010" Alias="news" Level="2">
  <Info>
    <Parent Key="a1000001-0001-0001-0001-000000000001">/Greenfield District Council</Parent>
    <Path>/Greenfield District Council/News</Path>
    <Trashed>false</Trashed>
    <ContentType>lgNewsList</ContentType>
    <CreateDate>2026-01-01T00:00:00</CreateDate>
    <NodeName Default="News" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c1a2b3c4-1010-0010-0010-000000000030">lgNewsList</Template>
  </Info>
  <Properties>
    <intro>
      <Value><![CDATA[The latest news, announcements, and consultations from Greenfield District Council.]]></Value>
    </intro>
  </Properties>
</Content>
