<?xml version="1.0" encoding="utf-8"?>
<Content Key="a1000001-0001-0001-0001-000000000002" Alias="site-settings" Level="2">
  <Info>
    <Parent Key="a1000001-0001-0001-0001-000000000001">/Greenfield District Council</Parent>
    <Path>/Greenfield District Council/Site Settings</Path>
    <Trashed>false</Trashed>
    <ContentType>lgSettings</ContentType>
    <CreateDate>2026-01-01T00:00:00</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>100</SortOrder>
    <Published Default="true" />
    <Schedule />
  </Info>
  <Properties>
    <siteName>
      <Value><![CDATA[Greenfield District Council]]></Value>
    </siteName>
    <primaryColour>
      <Value><![CDATA[#1d70b8]]></Value>
    </primaryColour>
    <accessibilityStatementUrl>
      <Value><![CDATA[/accessibility-statement]]></Value>
    </accessibilityStatementUrl>
  </Properties>
</Content>
