<?xml version="1.0" encoding="utf-8"?>
<Content Key="a1000001-0001-0001-0001-000000000026" Alias="report-online" Level="4">
  <Info>
    <Parent Key="a1000001-0001-0001-0001-000000000023">/Greenfield District Council/Bins and recycling/Report a missed bin</Parent>
    <Path>/Greenfield District Council/Bins and recycling/Report a missed bin/Report online</Path>
    <Trashed>false</Trashed>
    <ContentType>lgStep</ContentType>
    <CreateDate>2026-01-01T00:00:00</CreateDate>
    <NodeName Default="Report online" />
    <SortOrder>30</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key=""></Template>
  </Info>
  <Properties>
    <main>
      <Value><![CDATA[<p class="govuk-body">If your bin still hasn't been collected, fill in the missed collection form. We'll arrange a return visit within 3 working days.</p>]]></Value>
    </main>
  </Properties>
</Content>
