<?xml version="1.0" encoding="utf-8"?>
<Content Key="a1000001-0001-0001-0001-000000000025" Alias="wait-24-hours" Level="4">
  <Info>
    <Parent Key="a1000001-0001-0001-0001-000000000023">/Greenfield District Council/Bins and recycling/Report a missed bin</Parent>
    <Path>/Greenfield District Council/Bins and recycling/Report a missed bin/Wait 24 hours</Path>
    <Trashed>false</Trashed>
    <ContentType>lgStep</ContentType>
    <CreateDate>2026-01-01T00:00:00</CreateDate>
    <NodeName Default="Wait 24 hours" />
    <SortOrder>20</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key=""></Template>
  </Info>
  <Properties>
    <main>
      <Value><![CDATA[<p class="govuk-body">Sometimes our crews run late. Please wait until 6am the day after your scheduled collection before reporting a missed bin.</p>]]></Value>
    </main>
  </Properties>
</Content>
