<?xml version="1.0" encoding="utf-8"?>
<Content Key="a1000001-0001-0001-0001-000000000022" Alias="what-goes-in-which-bin" Level="3">
  <Info>
    <Parent Key="a1000001-0001-0001-0001-000000000020">/Greenfield District Council/Bins and recycling</Parent>
    <Path>/Greenfield District Council/Bins and recycling/What goes in which bin</Path>
    <Trashed>false</Trashed>
    <ContentType>lgServicePage</ContentType>
    <CreateDate>2026-01-01T00:00:00</CreateDate>
    <NodeName Default="What goes in which bin" />
    <SortOrder>20</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c1a2b3c4-1010-0010-0010-000000000022">lgServicePage</Template>
  </Info>
  <Properties>
    <summary>
      <Value><![CDATA[A guide to which materials go in each bin so we can recycle as much as possible.]]></Value>
    </summary>
    <main>
      <Value><![CDATA[<h2 class="govuk-heading-m">Green bin (recycling)</h2><ul class="govuk-list govuk-list--bullet"><li>Paper, cardboard, and clean envelopes</li><li>Plastic bottles, pots, tubs, and trays (rinsed)</li><li>Tins and aerosol cans</li><li>Glass bottles and jars</li></ul><h2 class="govuk-heading-m">Black bin (household waste)</h2><ul class="govuk-list govuk-list--bullet"><li>Anything that can't be recycled</li><li>Nappies, sanitary products, and pet waste</li><li>Polystyrene and bubble wrap</li></ul><h2 class="govuk-heading-m">Brown bin (garden waste)</h2><ul class="govuk-list govuk-list--bullet"><li>Grass cuttings, leaves, and small branches</li><li>Plants, flowers, and weeds</li></ul><h2 class="govuk-heading-m">Food caddy</h2><ul class="govuk-list govuk-list--bullet"><li>All cooked and uncooked food, including bones, peelings, and tea bags</li></ul>]]></Value>
    </main>
  </Properties>
</Content>
